<div class="page-header">
  <h1><%= @shop.name %> <small><%= @shop.uid %></small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shop.collections.each do |collection| %>
      <tr>
        <td><%= collection.title %></td>
        <td>
          <% if collection.new_record? %>
            <%= render 'collections/form_create',  { collection: collection } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>