<div class="page-header">
  <h1><%= @shop.name %> <small><%= @shop.uid %></small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shop.smart_collections.each do |collection| %>
      <tr>
        <td><%= collection.attributes[:title] %></td>
        <td><%= button_to_create_collection collection.attributes[:id], :smart unless Collection.find_by_shopify_id(collection.attributes[:id]).present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>