<div class="page-header">
  <h1><%= @shop.name %> <small><%= @shop.uid %></small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shop.shopify_collections.each do |collection| %>
      <tr>
        <td><%= collection.attributes[:title] %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>