<div class="page-header">
  <h1><%= @shop.name %> <small><%= @shop.uid %></small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td></td>
      </tr>
  </tbody>
</table>